# Twilio credentials (All required)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_ACCOUNT_PHONE_NUMBER=

# Digital Ocean Spaces access keys (All required)
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_BUCKET_NAME=

# Logging level [critical, error, warning, info, debug] (optional)
#LOGGING_LEVEL=debug